
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    margin-left: 50px;
    /* margin-top: 20px; */
    padding-top: 30px;
}
.navbar-nav > li{
    font-weight: 400;
    size: 50px;
    padding-left:20px;
    padding-right:10px;
  }
.sign-btn{
    color: #fff;
    width: 100px;
    height: 40px;
    left: 1201px;
    top: 25px;
    background: #21B573;
    border-radius: 33px;
    border: none;

}
.sign-btn:hover{
  transform: scale(1.1);
}
.row{
    position: relative;
}
.top-bg-part{
width: 1349px;
height: 655px;
margin: 0px;
background-color:  #F0FFF0;
}
.top-image img{
    position: absolute;
    width: 554px;
    height: 346px;
    left: 520px; 
    margin-top: 100px;
}
.start-btn{
color: #fff;
width: 153px;
height: 43px;
left: 205px;
top: 470px;
background: #21B573;
border-radius: 33px;
border: none;
}
.start-btn:hover{
  transform: scale(1.1);
}
.top-text{

   position:absolute;
   width: 380px;
   margin-top: 160px;
   margin-left: 70px;
   font-style: normal;

}
.top-text > h1{
    font-weight: 700;
    font-style: normal;
    
}
/* popup card */
.icon-box-1{
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-top: 25px;
  margin-right:25px ;
  margin-left: 10px;
  margin-bottom: 20px;
  border: none;
  background-color:  #F8FFFB;
  transition: all ease .1s;
}
.icon-box-1:hover{
  transform: scale(1.1);
  background-color: #fff;
  box-shadow: 9px 9px 12px -4px rgba(0,0,0,0.75);
}
.icon-box-1 img{
  width: 66px;
  height: 85px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 5px;

}
